
nav ul li {
    display: inline-block;
    margin: 0 0 0 2rem;
    list-style: none;
    transition: color 300ms;
    cursor: pointer;
}

nav ul li:hover {
    color: blue; 
}

nav ul .mood{
    font-size: 1.5rem;

}

.moodChange {
    background-color: #141a37;
}

.moodChange nav ul li {
    color: #788cc1;
}